aside .item {
  cursor: pointer;
}
aside .item img {
  max-width: 100%;
}
@media (min-width: 576px) {
  aside .item img {
    max-height: 100%;
    max-width: 180px !important;
  }
}
@media (min-width: 992px) {
  aside .item img {
    max-height: 180px;
  }
}

@media (min-width: 768px) {
  aside .list {
    max-height: 545px;
    overflow: hidden;
    overflow-y: scroll;
  }
}
